/* .contact-form {
  background:white;
  display: flex !important;
  /* align-items: center !important;
justify-content: flex-start; */
/* margin-left: 30%;
margin-right: -10%;
  padding: 30px;
  overflow: hidden;
  padding-right: 10px; 
  
}
  .contact-form-conainer { */
      /* padding: 30px !important;
      margin-right: 20%;
      @media screen and (max-width: 768px){
          font-size: 15px !important;
          margin: 0 5px 0 20px !important;
          padding: 10px !important;
          overflow: hidden !important;
      }
      @media screen and (min-width: 576px){
          font-size: 15px !important;
          margin: 0 10px 0 10px !important;
          padding: 10px !important;
          overflow: hidden !important;
      } 
      @media screen and (max-width: 576px){
          font-size: 12px !important;
          margin: 0 10px 0 10px !important;
          padding: 10px !important;
          
          overflow: hidden !important;
      }
  } */ 
.contact-form-conainer
{
  overflow: hidden !important;
}
.contact-form
{
  overflow: hidden !important;
}
.sub{
  margin-bottom: 7%;
  align-items: center;
  justify-content: center;
  font-size: smaller;
}