
  .tabs {
    display: flex;
    flex-wrap: wrap;
   
    font-family: sans-serif;
    background-color:  #b28471;
  }
  body{
    background-color: #b28471;
  }
  .tabs__label {
    padding: 10px 16px;
    cursor: pointer;
  }
  
  .tabs__radio {
    display: none;
  }
  
  .tabs__content {
    order: 1;
    width: 100%;
    
    line-height: 1.5;
    font-size: 0.9em;
    display: none;
  }
  
  .tabs__radio:checked + .tabs__label {
    font-weight: bold;
    color: #e1dad2;
    border-bottom: 2px solid #e1dad2;
  }
  
  .tabs__radio:checked + .tabs__label + .tabs__content {
    display: initial;
  }
  h3{
    text-align: left;
  }
  