
.Title {
    width:580px; 
    font-family:"sans-serif-medium";
    font-size:18px;
    text-align:center;
    margin:40px auto;
    color:white;
 } 

 h3{
    width:580px; 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:12px;
    text-align:center;
    margin:40px auto;
 }
#container {
    width:580px; 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:11px;
    text-align:center;
    margin:auto;
    
 }  
#container a {
    display:block;
    color:#000;
    text-decoration:none;
    /* background-color:#f6f6ff; */
 }
 /* .flow1{
    background-color: #a24f5e;
    color: black;
    opacity: 0.7;
 }
 .flow2{
    background:url('img-7.jpg');
    background-position: 1dp;
    color: #fff;
    opacity: 0.7;
 }
 .flow3{
    background-color: #8d4f48;
    color: #fff;
    opacity: 0.7;
 }
 .flow4{
    background-color: #dbb2a5;
    color: #fff;
    opacity: 0.7;
 }
 .flow5{
    background-color: #e3bca6;
    color: #fff;
    opacity: 0.7;
    padding: auto;
 }
#container a:hover {
    color:#8d4f48;
    background-color:#f6f6ff;
 }
#no1 {
    width:200px;
    line-height:60px;
  
    margin:auto;
 }
#no1 a {
    height:80px;
    color: #f6f6ff;
 }
#line1 {
    font-size:0;
    width:3px;
    height:20px;
    color:black;
    background-color:black;
    margin:auto;
 } 
#line2 {
    font-size:0;
    width:424px;
    height:1px;
    color:#fff;
    background-color:#000;    
    margin:auto;
 } 
#line3 {
    font-size:0;
    display:inline;
    width:1px;
    height:20px;
    color:#fff;
    background-color:#000;
    margin-left:78px;
    float:left;
 }  
#line4,#line5,#line6 {
    font-size:0;
    display:inline;
    width:1px;
    height:20px;
    color:#fff;
    background-color:#000;
    margin-left:140px;
    float:left;
 }
#no2 {
    display:inline;
    border:1px solid #000;
    clear:both;
    margin-left:35px;
    float:left;
 }
#no2 a,#no4 a,#no8 a {
    width:84px; 
    height:50px;
    padding-top:8px; 
 }  
#no3 {
    display:inline;
    border:1px solid #000;
    margin-left:58px;
    float:left;
 }
#no3 a,#no5 a,#no6 a,#no7 a,#no9 a {
    width:84px; 
    height:42px;
    padding-top:16px;  
 } 
#no4 {
    display:inline;  
    border:1px solid #000;
    margin-left:53px;
    float:left;
 }  
#no5 {
    display:inline;   
    border:1px solid #000;
    margin-left:55px;
    float:left;
 }  
#line7,#line13 {
    font-size:0;
    display:inline;
    width:1px;
    height:38px;
    color:#fff;
    background-color:#000;
    margin-left:219px;
    float:left;
 } 
#line8,#line14 {
    font-size:0;
    display:inline;
    width:1px;
    height:38px;
    color:black;
    background-color:#000;
    margin-left:281px;
    float:left;
 }  
#no6,#no8 {
    display:inline;  
    border:1px solid #000;
    margin-left:107px;
    float:left;
 }
#line9,#line11,#line15,#line17 {
    font-size:0;
    display:inline;
    width:26px;
    height:1px;
    color:#fff;
    background-color:#000;    
    margin-top:29px;
    float:left;
 }  
#line10,#line12,#line16,#line18 {
    font-size:0;
    display:inline;
    width:1px;
    height:60px;
    color:#fff;
    background-color:#000;
    float:left;
 } 
#line16,#line18 {
    height:30px;
 }
#no7,#no9 {
    display:inline; 
    border:1px solid #000;
    margin-left:169px;
    float:left;
 }  */

 #cardcontainer{
   display:-webkit-flex;
   flex-flow: column;
   align-items: center;
  
   width: 90%;
  }
 .cardabout1 {
   position: relative;
   width: 20rem;
   height: 20rem;
   background-size: contain;
   background-repeat: no-repeat;
   background-color: black;
   background-image: url('./ImageCollection.png');
 
   border-radius: 20px;
   background-position: center center;
   overflow: hidden;
   margin-left: 10%;
   margin-top: 10%;
   /* margin-bottom: 10%;
   margin-right: 1%;
   margin-top: 5%; */
}

/*  Assigning properties to inner
   content of card  */
.card__innerabout1 {
   background-color:white;
   color: #fff;
   position: absolute;
   top: 0px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   z-index: 1;
   opacity: 0;
   padding: 2rem 1.3rem 2rem 2rem;
   transition: all 0.6s ease 0s;
   background-color: #000;
}

/*  On hovering card opacity
   of content must be 1*/
.cardabout1:hover .card__innerabout1 {
   opacity: 1;
}

/*  General property for heading
   and paragraph*/
.card__innerabout1 h2 {
   margin-top: 1rem;
   margin-left: auto;
   margin-right: auto;
}

.card__innerabout1 p {
   overflow-y: scroll;
   height: 70%;
   padding-right: 1rem;
   font-weight: 200;
   line-height: 2.5rem;
   margin-top: 1.5rem;
   color: #fff;
   margin-left: 21%;
   margin-right: 18%;
   text-align: center;
}
.card__innerabout1 h2{
   color: #fff;
   margin-left: auto;
   margin-right: auto;

}


.cardabout2 {
   position: relative;
   width: 20rem;
   height: 20rem;
   background-size: contain;
   background-repeat: no-repeat;
   background-color: black;
   background-image: url('./ImageCuration.png');
 
   border-radius: 20px;
   background-position: center center;
   overflow: hidden;
   margin-left: 10%;
   margin-top: 10%;

   /* margin-bottom: 10%;
   margin-right: 1%;
   margin-top: 5%; */
}

/*  Assigning properties to inner
   content of card  */
.card__innerabout2 {
   background-color:white;
   color: #fff;
   position: absolute;
   top: 0px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   z-index: 1;
   opacity: 0;
   padding: 2rem 1.3rem 2rem 2rem;
   transition: all 0.6s ease 0s;
   background-color: #000;
}

/*  On hovering card opacity
   of content must be 1*/
.cardabout2:hover .card__innerabout2 {
   opacity: 1;
}

/*  General property for heading
   and paragraph*/
.card__innerabout2 h2 {
   margin-top: 1rem;
   margin-left: auto;
   margin-right: auto;
}

.card__innerabout2 p {
   overflow-y: scroll;
   height: 60%;
   padding-right: 1rem;
   font-weight: 200;
   line-height: 2.5rem;
   margin-top: 1.5rem;
   color: #fff;
   margin-left: 15%;
   margin-right: 11%;
   text-align: center;
}
.card__innerabout2 h2{
   color: #fff;

}

.cardabout3 {
   position: relative;
   width: 20rem;
   height: 20rem;
   background-size: contain;
   background-repeat: no-repeat;
   background-color: black;
   background-image: url('./SpeechRecording.png');
 
   border-radius: 20px;
   background-position: center center;
   overflow: hidden;
   margin-left: 10%;
   margin-top: 10%;
   /* margin-bottom: 10%;
   margin-right: 1%;
   margin-top: 5%; */
}

/*  Assigning properties to inner
   content of card  */
.card__innerabout3 {
   background-color:white;
   color: #fff;
   position: absolute;
   top: 0px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   z-index: 1;
   opacity: 0;
   padding: 2rem 1.3rem 2rem 2rem;
   transition: all 0.6s ease 0s;
   background-color: #000;
}

/*  On hovering card opacity
   of content must be 1*/
.cardabout3:hover .card__innerabout3 {
   opacity: 1;
}

/*  General property for heading
   and paragraph*/
.card__innerabout3 h2 {
   margin-top: 1rem;
   margin-left: auto;
   margin-right: auto;
}

.card__innerabout3 p {
   overflow-y: scroll;
   height: 60%;
   padding-right: 1rem;
   font-weight: 200;
   line-height: 2.5rem;
   margin-top: 1.5rem;
   color: #fff;
   margin-left: 15%;
   margin-right: 12%;
   text-align: center;
}
.card__innerabout3 h2{
   color: #fff;

}

.cardabout4 {
   position: relative;
   width: 20rem;
   height: 20rem;
   background-size: contain;
   background-repeat: no-repeat;
   background-color: black;
   background-image: url('./SpeechQualityControl.png');
 
   border-radius: 20px;
   background-position: center center;
   overflow: hidden;
   margin-left: 10%;
   margin-top: 10%;
   /* margin-bottom: 10%;
   margin-right: 1%;
   margin-top: 5%; */
}

/*  Assigning properties to inner
   content of card  */
.card__innerabout4 {
   background-color:white;
   color: #fff;
   position: absolute;
   top: 0px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   z-index: 1;
   opacity: 0;
   padding: 2rem 1.3rem 2rem 2rem;
   transition: all 0.6s ease 0s;
   background-color: #000;
}

/*  On hovering card opacity
   of content must be 1*/
.cardabout4:hover .card__innerabout4 {
   opacity: 1;
}

/*  General property for heading
   and paragraph*/
.card__innerabout4 h2 {
   margin-top: 1rem;
   margin-left: auto;
   margin-right: auto;
}

.card__innerabout4 p {
   overflow-y: scroll;
   height: 60%;
   padding-right: 1rem;
   font-weight: 200;
   line-height: 2.5rem;
   margin-top: 1.5rem;
   margin-bottom: 10%;
   color: #fff;
   margin-left: 15%;
   margin-right: 9%;
   text-align: center;
   
}
.card__innerabout4 h2{
   color: #fff;

}

.cardabout5 {
   position: relative;
   width: 20rem;
   height: 20rem;
   background-size: contain;
   background-repeat: no-repeat;
   background-color: black;
   background-image: url('./SpeechTranscription.png');
 
   border-radius: 20px;
   background-position: center center;
   overflow: hidden;
   margin-left: 10%;
  margin-top: 10%;
   /* margin-right: 1%;
   margin-top: 5%; */ 
}

/*  Assigning properties to inner
   content of card  */
.card__innerabout5 {
   background-color:white;
   color: #fff;
   position: absolute;
   top: 0px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   z-index: 1;
   opacity: 0;
   padding: 2rem 1.3rem 2rem 2rem;
   transition: all 0.6s ease 0s;
   background-color: #000;
}

/*  On hovering card opacity
   of content must be 1*/
.cardabout5:hover .card__innerabout5 {
   opacity: 1;
}

/*  General property for heading
   and paragraph*/
.card__innerabout5 h2 {
   margin-top: 1rem;
   margin-left: auto;
   margin-right: auto;
}

.card__innerabout5 p {
   overflow-y: scroll;
   height: 60%;
   padding-right: 1rem;
   font-weight: 200;
   line-height: 2.5rem;
   margin-top: 1.5rem;
   margin-left: 15%;
   margin-right: 10%;
   color: #fff;
   text-align: center;
  
}

.card__innerabout5 h2{
   color: #fff;

}

.arr1 p{
   margin-left: 53%;
   font-size: 10vw;
   margin-top: 60%;
   height: max-content;
   color:black;
   opacity: 0.8;
   font-weight: bold;
}
.arr2 p{
   margin-left: 53%;
   font-size: 10vw;
   margin-top: 60%;
   height: max-content;
   color:black;
   opacity: 0.8;
   font-weight: bold;
}
.arr3 p{
   margin-left: 53%;
   font-size: 10vw;
   margin-top: 60%;
   height: max-content;
   color:black;
   opacity: 0.8;
   font-weight: bold;
}
.arr4 p{
   margin-left: 53%;
   font-size: 10vw;
   margin-top: 60%;
   height: max-content;
   color:black;
   opacity: 0.8;
   font-weight: bold;
}
.hovertext{
   font-weight: lighter;
}
h4{
   font-weight: lighter;
   margin-left: 42%;
}
.cardtitle{
margin-left: 10%;
transform:  translateY(8vw); 


}
